@model IEnumerable<tbl_Category>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<div class="jumbotron container">
    <table class="table table-bordered table-striped" >
        <tr>
            <th>Name : </th>
            <th>Descripton : </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</div>


