
@{
    ViewBag.Title = "Alert";
}

<h2>Alert</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success">
                <strong>Success !!</strong>
                welcome, Dear Sir....!
            </div>
            
            <div class="alert alert-danger">
                <strong>Success !!</strong>
                welcome, Dear Sir....!
                <a href="#" class="alert-link">Read More</a>
            </div>
            
            <div class="alert alert-info">
                <strong>Success !!</strong>
                welcome, Dear Sir....!
            </div>
            
            <div class="alert alert-warning alert-dismissable fade in">
                <a href="#" class="close" data-dissmiss="alert" >&times;</a>
                <strong>Warning !!</strong>
                welcome, Dear Sir....!
            </div>
            
        </div>
    </div>
</div>

