
@{
    ViewBag.Title = "CardsWithThumbnail";
}

<h2>Cards With Thumbnail</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <h2 class="text-center">Marketing</h2>
                <img src="~/Images/pexels-photo-1213447.jpeg" alt="Alternate Text" class="img-thumbnail" />
                <p>This is my Paragraph, Where you should want to go</p>
                <button class="btn btn-block btn-info">Submit</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Images/The-Rex-Cinema-Slider-01.png" alt="Alternate Text" class="img-thumbnail" />
                <p>This is my Paragraph, Where you should want to go</p>
                <button class="btn btn-block btn-success">Submit</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Images/pexels-photo-1213447.jpeg" alt="Alternate Text" class="img-thumbnail" />
                <p>This is my Paragraph, Where you should want to go</p>
                <button class="btn btn-block btn-info">Submit</button>
            </div>
        </div>
    </div>
</div>

