
@{
    ViewBag.Title = "DropDown";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div class="container">
    <div class="row">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">DropDownButton <span class="caret"></span></button>
            <ul class="dropdown-menu"> 
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">CSharp</a></li>
            </ul>
        </div>
    </div>
</div>
