
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Banana</li>
                <li class="list-group-item list-group-item-info">Mango</li>
                <li class="list-group-item list-group-item-danger">Orange</li>
                <li class="list-group-item">Cheku</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <a href="#" class="list-group-item  list-group-item-success">Home</a>
                <a href="#" class="list-group-item disabled">About</a>
                <a href="#" class="list-group-item ">Contact</a>
                <a href="#" class="list-group-item">List</a>
            </ul>
        </div>

        <div class="col-md-4">
            <div class="list-group">
                <li class="list-group-item">Home<span class="badge">5</span></li>
                <li class="list-group-item">Work<span class="badge">3</span></li>
                <li class="list-group-item">This<span class="badge"></span></li>
                <li class="list-group-item">Why<span class="badge">1</span></li>

            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>