
@{
    ViewBag.Title = "Slider";
}

<h2>Slider</h2>

<div class="container">
    <div class="row">
        <div class="carousel-slide" id="myCarousel" data-ride="carousel">
            <ol class="carousel-indicators"> 
                <li data-target="#myCarousel"></li>
            </ol>
        </div>
    </div>
</div>

