
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>

<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <tr>
                <th colspan="3" class="text-center">Marksheet</th>
            </tr>
            <tr>
                <th>Name :</th>
                <th>Email :</th>
                <th>Ph# :</th>
            </tr>
            <tr class="success">
                <td>Suneel</td>
                <td>suneel@gmail.com</td>
                <td>03343233498</td>
            </tr>
            <tr class="danger">
                <td>Ali</td>
                <td>ali@gmail.com</td>
                <td>033432423498</td>
            </tr>
            <tr class="info">
                <td>Waheed</td>
                <td>wahed@gmail.com</td>
                <td>03343233498</td>
            </tr>
            <tr class="warning">
                <td>Babe</td>
                <td>babe@gmail.com</td>
                <td>03343233498</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/pexels-photo-1213447.jpeg" alt="Alternate Text" class="img-rounded img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/The-Rex-Cinema-Slider-01.png" alt="Alternate Text" class="img-thumbnail " />
        </div>
        <div class="col-md-4">
            <img src="~/Images/pexels-photo-1213447.jpeg" alt="Alternate Text" class="img-circle img-responsive" />
        </div>
    </div>

    <div class="row">
        <button class="btn btn-default">Submit</button>
        <button class="btn btn-sm">Submit</button>
        <button class="btn btn-lg">Submit</button>
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-danger">Submit</button>
        <button class="btn btn-info">Submit</button>
        <button class="btn btn-block">Submit</button>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="jumbotron">
        </div>
    </div>

    <br />
    <div class="row">
        <div class="well well-lg" >
        </div>
        <br />
        <div class="well well-sm ">

        </div>
    </div>

</div>