@model List<tbl_User>
@{
    ViewBag.Title = "List";
}

<h2>List Of Users</h2>



<table class="table table-bordered table-striped">

    <tr>
        <th>Name : </th>
        <th>Email : </th>
        <th>Password : </th>
    </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>@item.Name</td>
           <td>@item.Email</td>
           <td>@item.Password</td>
       </tr>
   }
</table>


